<html>

    <head>
        <script type="text/javascript" src="/watch/watch.js" ></script>
    </head>
    <body ng-app="app">
        <div ng-controller="watchCtrl">
            a = <input type="text" ng-model="a" />
            <div> a = {{ a }}</div>
            <br />

            b = <input type="text" ng-model="b" />
            <div> b = {{ b }}</div>
            <br />
             
            c = <input type="text" ng-model="c" />
            <div> c = {{ c }}</div>
        </div>
    </body>
</html>